[package]
name = "common-traits-derive"
version = "0.1.0"
edition = "2021"

[dependencies]
syn.workspace = true
quote.workspace = true
proc-macro2.workspace = true

[lib]
proc-macro = true

[lints]
workspace = true
