[workspace]
resolver = "2"

members = [
    "bindings/sirius-bindings",
    "web/backend",
    "web/frontend",
    "web/web_common",
    "web/web_common/web_common_traits",
    "web/web_common/webcodegen",
    "web/web_common/csqlv",
    "web/web_common/snake-case-sanitizer",
    "web/web_common/pgrx_validation",
    "web/web_common/pgrx_validation_derive",
    "web/web_common/validation-errors",
    "web/web_common/server-errors",
    "web/web_common/pg2sqlite",
    "data-retrieval/taxonomy-fetcher",
    "data-retrieval/downloader",
    "web/core-structures",
    "web/core-structures/core-structures-builder",
    "utils/font_awesome",
    "utils/diesel_migrations_utils",
    "utils/common-traits",
    "utils/inflector",
    "utils/time-requirements",
    "data-structures/graph",
    "data-structures/algebra",
    "data-migrations/directus-migration/directus-migration-builder",
    "data-migrations/directus-migration",
    "data-structures/mass-spectrometry",
    "utils/functional-properties",
    "data-structures/rosetta-uuid",
    "data-structures/sorted-vec",
    "utils/functional-properties",
]

[workspace.dependencies]
actix-ws = "0.3.0"
syn = { version = "2.0", features = ["full", "visit-mut"] }
quote = "1.0"
proc-macro2 = "1.0"
url = "2.5.4"
indicatif = "0.17.11"
reqwest = { version = "0.12.12", features = ["stream", "json"] }
futures-util = "0.3.31"
tokio = { version = "1.43.0", features = ["full"] }
flate2 = "1.0.35"
tar = "0.4.43"
infer = "0.16.0"
csv = "1.3.1"
bytes = "1.10.0"
bincode = "1.3.3"
sqlparser = { git = "https://github.com/apache/datafusion-sqlparser-rs.git", branch = "main" }
arbitrary = { version = "1", features = ["derive"] }
diesel = { version = "2.2", default-features = false, features = ["extras"] }
diesel-async = { version = "0.5", default-features = false }
diesel_full_text_search = "2.2"
postgis_diesel = { version = "2.5.0", features = [
    "serde",
], default-features = false }
chrono = { version = "0.4.39", features = ["serde"] }
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = "1.0"
strum = { version = "0.26.3", features = ["derive"] }
strum_macros = "0.26.4"
zip = "2.2.2"
pgrx = "0.13"
pgrx-sql-entity-graph = "0.13"
rosetta-uuid = { path = "data-structures/rosetta-uuid" }
taxonomy-fetcher = { path = "data-retrieval/taxonomy-fetcher" }
csqlv = { path = "web/web_common/csqlv" }
font_awesome = { path = "utils/font_awesome" }
testcontainers = { version = "0.23.2" }
web_common = { path = "web/web_common" }
web_common_traits = { path = "web/web_common/web_common_traits" }
webcodegen = { path = "web/web_common/webcodegen" }
diesel_migrations_utils = { path = "utils/diesel_migrations_utils" }
common-traits = { path = "utils/common-traits" }
functional-properties = { path = "utils/functional-properties" }
inflector = { path = "utils/inflector" }
core-structures = { path = "web/core-structures" }
core-structures-builder = { path = "web/core-structures/core-structures-builder" }
regex = "1.11"
plotters = "0.3.7"
futures = "0.3.31"
wasm-bindgen-futures = "0.4.50"
trybuild = "1"
const_format = "0.2.34"
time-requirements = { path = "utils/time-requirements" }
algebra = { path = "data-structures/algebra" }
graph = { path = "data-structures/graph" }
sorted-vec = { path = "data-structures/sorted-vec" }
pgrx_validation = { path = "web/web_common/pgrx_validation" }
pgrx_validation_derive = { path = "web/web_common/pgrx_validation_derive" }
validation-errors = { path = "web/web_common/validation-errors" }
server-errors = { path = "web/web_common/server-errors" }
validator = { version = "0.16", features = ["derive"] }
cargo-husky = { version = "1", features = [
    "precommit-hook",
    "run-cargo-test",
    "run-cargo-check",
    "run-cargo-clippy",
    "run-cargo-fmt",
] }

[workspace.lints.rust]
missing_docs = "forbid"
unused_macro_rules = "forbid"
unconditional_recursion = "forbid"
unreachable_patterns = "forbid"
unused_import_braces = "forbid"

[workspace.lints.clippy]
pedantic = "deny"
