[workspace]
resolver = "2"

members = [
    "bindings/sirius-bindings",
    "web/backend",
    "web/frontend",
    "web/web_common",
    "web/web_common/web_common_derive",
    "web/web_common/webcodegen",
    "web/web_common/csqlv", 
    "web/data_migration/directus_migration",
    "web/web_common/snake-case-sanitizer", 
    "data-retrieval/taxonomy-fetcher",
    "data-retrieval/downloader", "web/core_structures", "utils/font_awesome",
]

[workspace.dependencies]
rayon = "1.10.0"
url = "2.5.4"
indicatif = "0.17.9"
reqwest = {version="0.12.12", features=["stream"]}
futures-util = "0.3.31"
tokio = {version ="1.41.0", features = ["full"]}
flate2 = "1.0.35"
tar = "0.4.43"
infer = "0.16.0"
csv = "1.3.1"
diesel = { version = "2.2.5", features = ["serde_json", "postgres", "r2d2", "chrono", "uuid", "extras"] } # uuidv07
serde = { version = "1.0", features = ["derive", "rc"] }
serde_json = "1.0"
strum = {version="0.26.3", features=["derive"]}
strum_macros = "0.26.4"
zip = "2.2.2"
taxonomy-fetcher = { path = "data-retrieval/taxonomy-fetcher" }
csqlv = { path = "web/web_common/csqlv" }
font_awesome = {path = "utils/font_awesome"}
testcontainers = {version="0.23.1"}
webcodegen = { path = "web/web_common/webcodegen", features = ["postgres_17"] }