[package]
name = "molecular_formulas"
version = "0.1.0"
edition = "2024"

# [lib]
# crate-type = ["cdylib", "lib"]

[[bin]]
name = "pgrx_embed_molecular_formulas"
path = "./src/bin/pgrx_embed.rs"

[dependencies]
serde = { workspace = true, optional = true }
pgrx = { workspace = true, optional = true }
diesel_pgrx = { workspace = true, optional = true }
diesel = { workspace = true, optional = true }
elements_rs.workspace = true
fmtastic.workspace = true
num-traits.workspace = true
multi_ranged.workspace = true

[dev-dependencies]
strum.workspace = true
criterion.workspace = true
csv.workspace = true

[features]
default = ["serde"]
serde = ["dep:serde"]
diesel = ["dep:diesel"]
sqlite = ["diesel", "diesel/sqlite"]
postgres = ["diesel", "diesel/postgres"]
diesel_pgrx = ["diesel", "dep:diesel_pgrx"]
pgrx = ["dep:pgrx"]
pg13 = ["pgrx", "pgrx/pg13"]
pg14 = ["pgrx", "pgrx/pg14"]
pg15 = ["pgrx", "pgrx/pg15"]
pg16 = ["pgrx", "pgrx/pg16"]
pg17 = ["pgrx", "pgrx/pg17"]

[[bench]]
name = "bench_oxidation_states"
harness = false

[lints]
workspace = true
