[package]
name = "webcodegen"
version = "0.1.0"
edition = "2024"

[dependencies]
diesel = { version = "2.2", features = [
	"postgres",
	"chrono",
	"uuid",
] }
itertools = "0.13.0"
serde.workspace = true
syn.workspace = true
quote.workspace = true
proc-macro2.workspace = true
prettyplease = "0.2"
snake-case-sanitizer = { path = "../snake-case-sanitizer" }
common-traits.workspace = true
inflector.workspace = true
futures.workspace = true
backend-request-errors.workspace = true
time-requirements.workspace = true
sqlparser.workspace = true

[dev-dependencies]
diesel_migrations = "2.2.0"
testcontainers.workspace = true
tokio.workspace = true
trybuild.workspace = true
serde_json.workspace = true
chrono.workspace = true
ipnetwork = "0.20.0"
rosetta-uuid = {workspace = true, features = ["diesel", "serde", "postgres"]}
web_common_traits.workspace = true
macaddr = "1.0.1"
postgis_diesel.workspace = true
diesel_full_text_search.workspace = true
diesel-async = { workspace = true, features = [
	"postgres",
	"bb8",
] }
validation-errors.workspace = true
pgrx_validation.workspace = true


[features]
default = ["diesel", "serde", "postgres"]
serde = []
backend = ["diesel", "web_common_traits/backend"]
frontend = ["web_common_traits/frontend"]
diesel = ["postgis_diesel/diesel"]
# Feature used in the context of the tests.
postgres = ["diesel"]

[lints]
workspace = true
