a.button-like, button {
    padding: 0.5em;
    border: none;
    cursor: pointer;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 0.5em;
    float: right;
    margin-left: 0.5em;
    font-weight: 300;
    width: auto;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
    text-decoration: none;

    position: relative;
    overflow: hidden;

    &.logout {
        float: none;
        margin: 0;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transition: background-color 0.2s;
        background: linear-gradient(120deg,
                transparent,
                rgba($grey, 0.2),
                transparent);
        left: -100%;
    }
    
    &.enabled::before {
        animation: shine-in 3s ease-in-out;
    }

    &.waiting {
        cursor: not-allowed;
    }

    &:disabled {
        cursor: not-allowed;
        border-color: $grey !important;
        color: $grey !important;

        &:hover {
            background-color: rgba($grey, 0.2) !important;
            color: $grey !important;
            // We make the button visually say "no" when disabled
            animation: small-shake 0.2s;
        }
    }

    &.retrieve {
        float: none;
        border-color: $primary;
        color: $primary;

        &:hover {
            background-color: $primary;
            color: white;
        }

        &.enabled::before {
            background: linear-gradient(120deg,
                    transparent,
                    rgba($primary, 0.2),
                    transparent);
        }
    }

    &.create {
        border-color: $blue;
        color: $blue;

        &:hover {
            background-color: $blue;
            color: white;
        }

        &.enabled::before {
            background: linear-gradient(120deg,
                    transparent,
                    rgba($blue, 0.2),
                    transparent);
        }
    }

    &.delete {
        border-color: $red;
        color: $red;

        &:hover {
            background-color: $red;
            color: white;
        }

        &.enabled::before {
            background: linear-gradient(120deg,
                    transparent,
                    rgba($red, 0.2),
                    transparent);
        }
    }

    &.update {
        border-color: $green;
        color: $green;

        &:hover {
            background-color: $green;
            color: white;
        }

        &.enabled::before {
            background: linear-gradient(120deg,
                    transparent,
                    rgba($green, 0.2),
                    transparent);
        }
    }
}