div {
    position: relative;
}

.active-scanner-ui {
    display: block;
    position: absolute;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.active-scanner-ui-content {
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-scanner-ui-content video {
    width: 40%;
    height: 40%;
    object-fit: cover;
    /* Ensures the video covers the entire area without distortion */
}

.close,
.toggle-flashlight {
    position: absolute;
    background: white;
    border: none;
    color: #000;
    font-size: 50px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.close {
    bottom: 10px;
    right: 10px;
}

.toggle-flashlight {
    bottom: 10px;
    left: 10px;
}

@media screen and (max-width: $small-screen-width) {

    // Mobile version of the scanner
    .active-scanner-ui {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 10000;
        top: 0;
        left: 0;
        background: red;
    }

    .active-scanner-ui-content {
        background-color: blue;
        top: 0;
        left: 0;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 10000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .active-scanner-ui-content video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Ensures the video covers the entire area without distortion */
    }

    .close {
        bottom: 10px;
        right: 10px;
    }

    .toggle-flashlight {
        bottom: 10px;
        left: 10px;
    }

    // button to close the scanner and open the flashlight should be at the bottom (one on the left and the other on the right)
    .close {

        z-index: 10000;
        border: none;
        color: #000;
        font-size: 150px;
        background: rgba(211, 211, 211, 0.5);
    }

    .toggle-flashlight {
        z-index: 10000;
        border: none;
        color: #000;
        font-size: 150px;
        background: rgba(211, 211, 211, 0.5);
    }
}