.active-scanner-ui {
    position: fixed;
    z-index: 100;
    transform: translate3d(0px, 0px, 0px);
    background-color: rgba(0, 0, 0, 0.5);
    // We blur the background to make the scanner more visible
    backdrop-filter: blur(5px);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s;
    opacity: 0;

    video {
        display: none;
    }

    canvas {
        opacity: 0;
        transition: opacity 0.3s;
    }

    .scanner-focus-container {
        opacity: 0;
        transition: opacity 0.3s;
    }

    &.opening {
        opacity: 1;
        canvas {
            opacity: 1;
        }

        .scanner-focus-container {
            opacity: 1;
            &::after {
                animation: fade-in-up 0.3s;
            }

            .scanner-focus {
                &::before {
                    animation: pop-in 0.3s;
                }

                &::after {
                    animation: fade-in-up 0.3s;
                }
            }
        }
    }

    &.closing {
        opacity: 0;
        canvas {
            opacity: 0;
        }

        .scanner-focus-container {
            opacity: 0;
            &::after {
                animation: fade-out-up 0.3s;
            }

            .scanner-focus {
                &::before {
                    animation: pop-out 0.3s;
                }

                &::after {
                    animation: fade-out-up 0.3s;
                }
            }
        }
    }

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // We make it cover the whole screen
        object-fit: cover;

        transition: transform 0.3s;
    }

    &.mirrored {
        canvas {
            transform: rotateY(180deg);
            -webkit-transform:rotateY(180deg); /* Safari and Chrome */
            -moz-transform:rotateY(180deg); /* Firefox */
        }
    }

    .scanner-focus-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-left: 50vw;
        border-right: 50vw;
        border-top: 50vh;
        border-bottom: 50vh;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.5);
        height:0;
        width: min(40vw, 40vh);
        padding-bottom: min(40vw, 40vh);

        .scanner-focus {
            position: relative;
            width: min(40vw, 40vh);
            padding-bottom: min(40vw, 40vh);
            border-radius: min(8vh, 8vw);
            border: min(2.75vh, 2.75vw) solid white;
            top: max(-2.7vh, -2.7vw);
            left: max(-2.7vh, -2.7vw);
            &::before {
                content: "";
                font-family: "Font Awesome 5 Free";
                position: absolute;
                font-weight: 900;
                font-size: min(25vw, 25vh);
                width: 100%;
                color: white;
                text-align: center;
                top: 50%;
                margin-top: max(-12.5vw, -12.5vh);
            }

            &::after {
                content: "SCAN QR CODE";
                position: absolute;
                font-size: min(2.75vh, 2.75vw);
                width: 100%;
                font-size: 100;
                color: white;
                text-align: center;
                bottom: min(1vh, 1vw);
            }
        }

        ul.operations {
            position: relative;
            width: 100%;
            max-width: 100%;
            display: flex;
            justify-content: space-around;
            padding: 0;
            margin: 0;
            list-style: none;
            border-radius: 0 0 min(8vh, 8vw) min(8vh, 8vw);
            li {
                button {
                    position: relative;
                    border: 1px solid white;
                    cursor: pointer;
                    border-radius: 100%;
                    width: min(8vh, 8vw);
                    height: min(8vh, 8vw);
                    background-color: transparent;
                    color: white;
                    font-size: min(2.5vh, 2.5vw);
                    padding: 0;
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: background-color 0.3s;
                    animation: pop-in 0.3s;
                    &:hover {
                        background-color: rgba(255, 255, 255, 0.5);
                    }
                    &.switch-camera {
                        &::after {
                            content: attr(camera-number) '/' attr(camera-total);
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            color: black;
                            background-color: white;
                            font-size: min(1vh, 1vw);
                            padding: 0.5vh 1vw;
                        }
                    }
                }
            }
        }
    }

    &.loading {
        .scanner-focus-container {
            .scanner-focus {
                &::before {
                    content: "\f110";
                    display: block;
                    animation: fa-spin 1s linear infinite;
                }
                &::after {
                    content: "";
                }
            }
        }
    }
}

