form.standard-form {
    max-width: 90%;
    border-radius: 0.5em;

    h4 {
        padding-bottom: 0.25em;
        margin: 0;
        border-bottom: 1px solid $primary;
        color: $primary;
        font-weight: 600;
        font-size: 1.2em;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
    }

    .input-group {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    label {
        color: $grey;
        font-weight: 100;
        padding-right: 0.5em;
        display: inline-block;
        min-width: 100px;
    }

    input[type="text"] {
        padding: 0.5em;
        box-sizing: border-box;
        max-width: 100%;
        width: 400px;
        transition: border-color 0.2s;
        border: 1px solid #ccc;
        border-radius: 0.5em;
        &:focus {
            outline: none;
            border-color: $primary;
        }
    }

    button[type="submit"] {
        padding: 0.5em;
        color: white;
        border: none;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid;
        border-radius: 0.5em;
        float: right;
        font-size: 1em;
        transition: background-color 0.2s, border-color 0.2s, color 0.2s;

        &:disabled {
            cursor: not-allowed;
            background-color: #ccc;
        }
    }

    &[method="DELETE"] {
        border: 1px solid $red;

        h4 {
            color: $red;
        }

        button[type="submit"] {
            border-color: $red;
            color: $red;

            &:hover {
                background-color: $red;
                color: white;
            }
        }
    }

    &[method="PUT"] {
        button[type="submit"] {
            border-color: $green;
            color: $green;

            &:hover {
                background-color: $green;
                color: white;
            }
        }
    }

    &[method="POST"] {
        border: 1px solid $blue;

        button[type="submit"] {
            border-color: $blue;
            color: $blue;

            &:hover {
                background-color: $blue;
                color: white;
            }
        }
    }

    ul.form-errors {
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: inherit;
        font-weight: 100;

        li.input-error {
            background-color: $red;
            color: white;
            padding: 0.5em;
            box-sizing: border-box;
            border-radius: 0.5em;
            position: relative;
            padding-right: 1em;
            animation: pop-in 0.2s;

            &.hiding {
                animation: pop-out 0.2s;
            }

            &:not(:last-child) {
                margin-bottom: 0.5em;
            }

            button {
                background-color: transparent;
                border: none;
                box-sizing: border-box;
                color: white;
                cursor: pointer;
                float: right;
                font-size: inherit;
                padding: 0.5em;
                position: absolute;
                border-radius: 100%;
                right: 0;
                top: 0;

                i {
                    transition: color 0.2s;
                    color: rgba(255, 255, 255, 0.8);
                }

                &:hover {
                    i {
                        color: white;
                    }
                }

                
            }
        }
    }
}

@keyframes pop-in {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pop-out {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0;
    }
}