@import "./button.scss";

form.standard-form {
    width: 600px;
    max-width: 100%;
    margin: 1em auto;
    animation: slide-in-from-bottom 0.3s;

    h4 {
        padding-bottom: 0.25em;
        margin: 0;
        border-bottom: 1px solid $near_black;
        color: $near_black;
        font-weight: 600;
        font-size: 1.2em;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
    }

    p.instructions {
        color: $near_black;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        text-align: justify;
    }

    ul.input-group {
        display: flex;

        &:before {
            display: flex;
            align-items: center;
            color: $grey;
            margin-right: 0.5em;
        }

        >li {
            flex: 1;
            padding: 0;

            .input-group {
                flex: 1;
                margin: 0;
                padding: 0;

                label {
                    display: block;
                    font-size: 0.8em;
                    margin-bottom: 0.2em;
                }

                input[type="number"],
                input[type="search"],
                input[type="datetime-local"],
                input[type="text"] {
                    width: 100%;
                }
            }
        }
    }

    ul.name-wrapper {
        &:before {
            content: "Name:";
        }

        >li {
            width: calc(100% / 3 - 0.5em);

            &:not(:last-child) {
                margin-right: 0.5em;
            }
        }
    }

    ul.coords-wrapper {
        &:before {
            content: "Coords:";
        }

        >li {
            width: calc(100% / 3 - 0.5em);

            &:not(:last-child) {
                margin-right: 0.5em;
            }
        }
    }

    ul.altitude-wrapper {
        padding-top: 0;

        &:before {
            content: "Altitude:";
        }

        >li {
            width: calc(100% / 2 - 0.5em);

            &:not(:last-child) {
                margin-right: 0.5em;
            }
        }
    }

    .input-group {
        padding-top: 0.5em;
        padding-bottom: 0.5em;

        &.input-group-invalid {

            input[type="text"],
            input[type="search"],
            input[type="datetime-local"],
            textarea,
            input[type="number"] {
                border-color: $error;
                border-style: dashed;
                animation: small-shake 0.2s;
            }
        }

        &.datalist {
            input[type="search"] {
                animation: pop-in 0.2s;
            }

            ul.selected-datalist-badges {
                display: inline-block;
                flex-wrap: wrap;
                margin-top: 0.5em;
                border: none;

                li.datalist-add {
                    display: inline-block;
                    margin-left: 0.5em;
                    box-sizing: border-box;
                    border-radius: 2em;
                    cursor: pointer;
                    transition: border-color 0.2s;
                    animation: pop-in 0.2s;

                    &.deleting {
                        animation: pop-out 0.2s;
                    }

                    button {
                        padding: 0;
                        height: 2em;
                        width: 2em;
                        background-color: transparent;
                        cursor: pointer;
                        border-radius: 100%;
                        transition: border-color 0.2s;
                        line-height: 1em;
                        text-align: center;
                        border: 1px solid $light_grey;
                        box-sizing: border-box;

                        i {
                            font-size: 1.2em;
                            color: $light_grey;
                            transition: color 0.2s;
                        }

                        &:hover {
                            border-color: $blue;

                            i {
                                color: $blue;
                            }
                        }
                    }
                }

                li.selected-datalist-badge {
                    display: inline-block;
                    padding: 0.5em 2em 0.5em 0.5em;
                    box-sizing: border-box;
                    border-radius: 2em;
                    margin-right: 0.5em;
                    margin-bottom: 0.5em;
                    font-size: 0.8em;
                    cursor: pointer;
                    position: relative;
                    border: 1px solid $light_grey;
                    transition: border-color 0.2s;
                    animation: pop-in 0.2s;

                    &.deleting {
                        animation: pop-out 0.2s;
                    }

                    &:hover {
                        &.blue {
                            border-color: $blue;
                        }

                        &.orange {
                            border-color: $orange;
                        }

                        &.red {
                            border-color: $red;
                        }

                        &.teal {
                            border-color: $teal;
                        }

                        &.green {
                            border-color: $green;
                        }

                        &.yellow {
                            border-color: $yellow;
                        }

                        &.purple {
                            border-color: $purple;
                        }

                        &.pink {
                            border-color: $pink;
                        }

                        &.brown {
                            border-color: $brown;
                        }

                        &.grey {
                            border-color: $grey;
                        }

                        &.black {
                            border-color: $black;
                        }

                        &.near-black {
                            border-color: $near_black;
                        }

                        &.grey {
                            border-color: $grey;
                        }

                        &.primary {
                            border-color: $primary;
                        }
                    }

                    p {
                        img {
                            width: 2em;
                            height: 2em;
                            border-radius: 100%;
                            margin-right: 0.5em;
                        }

                        i {
                            margin-right: 0.5em;
                        }
                    }

                    button {
                        padding: 0;
                        position: absolute;
                        right: 0.4em;
                        top: 50%;
                        margin-top: -0.6em;
                        height: 1.2em;
                        width: 1.2em;
                        background-color: transparent;
                        cursor: pointer;
                        border-radius: 100%;
                        transition: border-color 0.2s;
                        text-align: center;
                        border: 1px solid $light_grey;
                        box-sizing: border-box;

                        i {
                            font-size: 1em;
                            color: $light_grey;
                            transition: color 0.2s, font-size 0.2s;
                        }

                        &:hover {
                            border-color: $red;

                            i {
                                color: $red;
                            }
                        }
                    }

                }
            }

            ul.datalist-candidates {
                list-style: none;
                padding: 0;
                margin: 0;
                margin-top: 0.5em;
                width: 100%;
                max-height: 200px;
                overflow-y: scroll;
                border-radius: 0.5em;
                border: 1px solid $light_grey;
                box-sizing: border-box;
                animation: fade-in-up 0.3s;

                li.datalist-candidate {
                    padding: 0.5em;
                    width: 100%;
                    cursor: pointer;
                    transition: border-color 0.2s;
                    box-sizing: border-box;
                    border-bottom: 1px solid transparent;
                    border-top: 1px solid transparent;

                    &:first-child {
                        border-top-left-radius: 0.5em;
                        border-top-right-radius: 0.5em;
                    }

                    &:last-child {
                        border-bottom-left-radius: 0.5em;
                        border-bottom-right-radius: 0.5em;
                    }

                    &:hover {
                        &.blue {
                            border-color: $blue;
                        }

                        &.orange {
                            border-color: $orange;
                        }

                        &.red {
                            border-color: $red;
                        }

                        &.teal {
                            border-color: $teal;
                        }

                        &.green {
                            border-color: $green;
                        }

                        &.yellow {
                            border-color: $yellow;
                        }

                        &.purple {
                            border-color: $purple;
                        }

                        &.pink {
                            border-color: $pink;
                        }

                        &.brown {
                            border-color: $brown;
                        }

                        &.grey {
                            border-color: $grey;
                        }

                        &.black {
                            border-color: $black;
                        }

                        &.near-black {
                            border-color: $near_black;
                        }

                        &.grey {
                            border-color: $grey;
                        }

                        &.primary {
                            border-color: $primary;
                        }
                    }

                    &:first-child {
                        border-top: none;
                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    strong {
                        font-weight: 800;
                    }

                    p {
                        &:first-child {
                            margin-bottom: 0.5em;
                        }

                        strong {
                            color: $black;
                        }
                    }

                    p.description {
                        color: $grey;

                        strong {
                            color: $black;
                        }
                    }

                    span {
                        color: $near_black;

                        strong {
                            color: $black;
                        }
                    }

                    i {
                        margin-right: 0.5em;
                    }

                    img {
                        width: 1.6em;
                        height: 1.6em;
                        border-radius: 100%;
                        margin-right: 0.5em;
                    }
                }
            }
        }

        &.file {
            min-height: 100px;

            .droparea {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                margin-top: 0.5em;
                min-height: 100px;
                border-radius: 0.5em;
                transition: background-color 0.3s;
                cursor: pointer;
                animation: pop-in 0.2s;
                background: linear-gradient(90deg, rgba($grey, 0.8) 50%, transparent 50%), linear-gradient(90deg, rgba($grey, 0.8) 50%, transparent 50%), linear-gradient(0deg, rgba($grey, 0.8) 50%, transparent 50%), linear-gradient(0deg, rgba($grey, 0.8) 50%, transparent 50%);
                background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
                background-size: 15px 1px, 15px 1px, 1px 15px, 1px 15px;
                background-position: top left, bottom left, top left, top right;

                &.hiding {
                    animation: pop-out 0.2s;
                }

                p,
                i {
                    font-size: 1.25em;
                    color: $grey;
                    transition: font-size 0.3s ease-in-out, color 0.3s ease-in-out;
                    animation: fade-in-up 0.3s;
                }

                &:hover,
                &.dragging {
                    border-color: $primary;
                    background: linear-gradient(90deg, rgba($primary, 0.8) 50%, transparent 50%), linear-gradient(90deg, rgba($primary, 0.8) 50%, transparent 50%), linear-gradient(0deg, rgba($primary, 0.8) 50%, transparent 50%), linear-gradient(0deg, rgba($primary, 0.8) 50%, transparent 50%);
                    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
                    background-size: 15px 1px, 15px 1px, 1px 15px, 1px 15px;
                    background-position: top left, bottom left, top left, top right;
                    animation: pop-in 0.2s, border-dance 10s infinite linear;

                    i,
                    p {
                        color: $primary;
                    }

                    i {
                        font-size: 2em;
                        // When the user hovers the drop area, we make the icon
                        // make small jumps in loop, with delay between each jump
                        animation: fade-in-up 0.3s, small-jump 1.5s infinite;
                    }
                }
            }

            ul.file-preview-list {
                list-style: none;
            }

            /* File Preview Container */
            .file-preview-container {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                animation: pop-in 0.2s;

                &.hiding {
                    animation: pop-out 0.2s;
                }
            }

            div.file-preview-item,
            ul.file-preview-list {
                margin-top: 0.5em;
                width: 100%;
            }

            ul.file-preview-list {
                >li {
                    width: 150px;
                }

                &.two-files {
                    >li {
                        width: calc(50% - 0.5em);
                    }
                }

                &.three-files {
                    >li {
                        width: calc(33.3333% - 1em / 3);
                    }
                }
            }

            /* File Preview Item */
            .file-preview-item {
                border-radius: 0.5em;
                animation: pop-in 0.2s;
                max-width: 100%;
                min-width: 150px;
                height: 150px;
                overflow: hidden;
                position: relative;
                display: inline-block;

                &:only-child {
                    width: 100%;
                }

                &:not(:last-child) {
                    margin-right: 0.5em;
                }

                .metadata {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    color: white;
                    padding: 0.5em;
                    background-color: rgba(0, 0, 0, 0.5);
                    animation: slide-in-from-bottom 0.3s;
                }

                .delete {
                    position: absolute;
                    top: 0.25em;
                    right: 0.25em;
                    font-size: 1em;
                    text-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
                    cursor: pointer;
                    border: none;
                    border-radius: 100%;
                    background-color: transparent;
                    color: transparentize($color: white, $amount: 0.1);
                    animation: slide-in-from-right 0.3s;

                    i {
                        transition: color 0.2s ease-in-out;
                    }

                    &:hover {
                        color: white;
                    }
                }

                &.hiding {
                    animation: pop-out 0.2s;
                }

                .preview {
                    width: 100%;
                    height: 150px;
                    object-fit: cover;
                    border: none;
                    padding: 0;
                    margin: 0;
                }
            }
        }

        .map-input {
            height: 400px;
            width: 100%;
            border-radius: 0.5em;
        }

        label.input-label {
            color: $grey;
            font-weight: 100;
            padding-right: 0.5em;
            display: inline-block;
            min-width: 100px;
        }

        &.text,
        &.number,
        &.datalist,
        &.datetime-local {
            .input-container {
                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center;
            }
        }

        &.textarea {
            padding-top: 0.25em;
        }

        input[type="text"],
        input[type="search"],
        input[type="datetime-local"],
        textarea,
        input[type="number"] {
            padding: 0.5em;
            box-sizing: border-box;
            max-width: 100%;
            transition: border-color 0.2s;
            border: 1px solid $light_grey;
            border-radius: 0.5em;

            &:focus {
                outline: none;
                border-color: $primary;
            }
        }

        textarea {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            font-family: inherit;
            display: block;
            min-height: 50px;
            max-height: 200px;
            margin-top: 0.5em;
        }

        // We style inputs of type checkbox in such
        // a way that they look like switches.
        input[type="checkbox"] {
            display: none;
        }

        label.checkbox {
            display: inline-block;
            vertical-align: middle;
            width: 30px;
            height: 16px;
            background-color: $light_grey;
            border-radius: 1em;
            position: relative;
            cursor: pointer;
            transition: background-color 0.3s;

            &::after {
                content: '';
                position: absolute;
                width: 16px;
                height: 16px;
                top: 0;
                left: 8px;
                margin-left: -8px;
                background-color: #fff;
                border-radius: 100%;
                border: 1px solid $light_grey;
                box-sizing: border-box;
                transition: left 0.3s, border-color 0.3s;
            }
        }

        input[type="checkbox"]:checked+label.checkbox::after {
            left: 22px;
        }

        input[type="file"] {
            display: none;
        }
    }

    button.clear-button {
        border-color: $red;
        color: $red;
        margin-right: 1em;

        &:hover {
            background-color: $red;
            color: white;
        }

        &.enabled::before {
            background-color: $red;
            background: linear-gradient(120deg,
                    transparent,
                    rgba($red, 0.2),
                    transparent);
        }
    }

    &[method="DELETE"] {
        border: 1px solid $red;

        h4 {
            color: $red;
        }

        input[type="checkbox"]:checked+label.checkbox {
            background-color: $red;
        }

        input[type="checkbox"]:checked+label.checkbox::after {
            border-color: $red;
        }

        &.input-group-valid {

            input[type="text"],
            input[type="search"] {
                border-color: $red;
            }
        }

        button[type="submit"] {
            border-color: $red;
            color: $red;

            &:hover {
                background-color: $red;
                color: white;
            }

            &.enabled::before {
                background: linear-gradient(120deg,
                        transparent,
                        rgba($red, 0.2),
                        transparent);
            }
        }
    }

    &[method="PUT"] {
        input[type="checkbox"]:checked+label.checkbox {
            background-color: $green;
        }

        input[type="checkbox"]:checked+label.checkbox::after {
            border-color: $green;
        }

        &.input-group-valid {

            input[type="text"],
            input[type="search"] {
                border-color: $green;
            }
        }

        button[type="submit"] {
            border-color: $green;
            color: $green;

            &:hover {
                background-color: $green;
                color: white;
            }

            &.enabled::before {
                background: linear-gradient(120deg,
                        transparent,
                        rgba($green, 0.2),
                        transparent);
            }
        }
    }

    &[method="POST"] {
        input[type="checkbox"]:checked+label.checkbox {
            background-color: $blue;
        }

        input[type="checkbox"]:checked+label.checkbox::after {
            border-color: $blue;
        }

        &.input-group-valid {

            input[type="text"],
            input[type="search"] {
                border-color: $blue;
            }
        }

        button[type="submit"] {
            border-color: $blue;
            color: $blue;

            &:hover {
                background-color: $blue;
                color: white;
            }

            &.enabled::before {
                background: linear-gradient(120deg,
                        transparent,
                        rgba($blue, 0.2),
                        transparent);
            }
        }
    }

    ul.input-errors {
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: inherit;
        font-weight: 100;
        margin-top: 0.5em;

        li.input-error {
            background-color: $error;
            color: white;
            padding: 0.5em;
            box-sizing: border-box;
            border-radius: 0.5em;
            position: relative;
            padding-right: 1.5em;
            animation: pop-in 0.2s;
            transition: margin 0.2s;

            &:not(:first-child) {
                margin-top: 0.5em;
            }

            &.hiding {
                animation: pop-out 0.2s;
            }

            button {
                background-color: transparent;
                border: none;
                box-sizing: border-box;
                color: white;
                cursor: pointer;
                float: right;
                font-size: inherit;
                padding: 0.5em;
                position: absolute;
                right: 0;
                top: 0;

                i {
                    transition: color 0.2s;
                    color: rgba(255, 255, 255, 0.8);
                }

                &:hover {
                    i {
                        color: white;
                    }
                }
            }
        }
    }

    &>ul.input-errors {
        margin-top: 0;
        margin-bottom: 0.5em;
    }
}