[package]
name = "web_common_traits"
version = "0.1.0"
edition.workspace = true

[dependencies]
rosetta_uuid = { workspace = true, features = ["serde"] }
serde.workspace = true
diesel.workspace = true
common_traits = { workspace = true, features = ["serde"] }
validation_errors.workspace = true
generic_backend_request_errors.workspace = true
iso_codes.workspace = true

[features]
sqlite = ["diesel/sqlite"]
postgres = ["diesel/postgres"]
frontend = ["sqlite"]
backend = ["postgres"]

[lints]
workspace = true
