[package]
name = "frontend"
version = "0.1.0"
edition.workspace = true
repository = "https://github.com/earth-metabolome-initiative/emi-monorepo"
license = "GPL-3.0"
keywords = ["metabolomics", "database", "frontend", "web", "api"]
readme = "README.md"
categories = ["science", "database", "web", "api"]
authors = ["Earth Metabolome Initiative"]
description = "Frontend for the Earth Metabolome Initiative"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde.workspace = true
regex.workspace = true
chrono.workspace = true
serde_json.workspace = true
bincode.workspace = true
api_path.workspace = true
ws_messages.workspace = true
common_traits.workspace = true
log.workspace = true
futures.workspace = true
sqlite_migration_generator.workspace = true
sqlite-wasm-rs = { version = "0.4.3", default-features = false, features = [
  "precompiled",
] }
core_structures = { workspace = true, features = ["frontend"] }
diesel = { workspace = true, features = [
  "sqlite",
  "returning_clauses_for_sqlite_3_35",
] }
postgis_diesel = { workspace = true, default-features = false, features = [
  "serde",
  "sqlite",
] }

gloo.workspace = true
gloo-timers.workspace = true
wasm-bindgen.workspace = true
rosetta_uuid.workspace = true
wasm-bindgen-futures.workspace = true
yew.workspace = true
yew-router.workspace = true
yewdux.workspace = true
# yew-hooks.workspace = true
web-sys = { version = "0.3.80", features = [
  "Headers",
  "Request",
  "RequestInit",
  "RequestMode",
  "Response",
  "Window",
  "Document",
  "HtmlDocument",
  "HtmlInputElement",
  "HtmlFormElement",
  "Navigator",
  "FormData",
  "File",
  "HtmlDivElement",
  "MediaDeviceKind",
  "MediaRecorder",
  "DataTransfer",
  "Blob",
  "Url",
  "FileReader",
  "EventTarget",
  "Geolocation",
  "Coordinates",
  "Position",
  "PositionOptions",
  "ImageCapture",
  "MediaCapabilities",
  "PositionError",
  "HtmlAnchorElement",
  "CanvasRenderingContext2d",
  "MediaDevices",
  "MediaDeviceInfo",
  "MediaStream",
  "HtmlCanvasElement",
  "HtmlVideoElement",
  "MediaStreamConstraints",
  "MediaTrackConstraints",
  "VideoFacingModeEnum",
  "MediaStreamTrack",
  "Navigator",
  "ImageData",
] }

yew-agent.workspace = true
gloo-console = "0.3.0"
wasm-logger = "0.2.0"
js-sys = "0.3.77"
leaflet = "0.4.1"
sublime_fuzzy = "0.7.0"
implicit-clone = "0.6"
image.workspace = true
base64 = "0.22.1"
rxing = { version = "0.8.2", features = [
  "wasm_support",
], default-features = false }
postcard = "1.1.1"
rustfft.workspace = true
strsim = "0.11.1"
[lints]
workspace = true
