[package]
name = "frontend"
version = "0.1.0"
edition = "2021"
repository = "https://github.com/earth-metabolome-initiative/emi-monorepo"
license = "GPL-3.0"
keywords = ["metabolomics", "database", "frontend", "web", "api"]
readme = "README.md"
categories = ["science", "database", "web", "api"]
authors = ["Earth Metabolome Initiative"]
description = "Frontend for the Earth Metabolome Initiative"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde.workspace = true
regex.workspace = true
chrono.workspace = true
serde_json.workspace = true
bincode.workspace = true
web_common_traits = { workspace = true, features = ["frontend"] }
core-structures = { workspace = true, features = ["frontend"] }
postgis_diesel = { workspace = true, default-features = false }

reqwasm = "0.5.0"
gloo = "0.11.0"
wasm-bindgen = "0.2.100"
rosetta-uuid.workspace = true
wasm-bindgen-futures.workspace = true
yew = { version = "0.21.0", features = ["csr"] }
yew-router = "0.18.0"
# The doc-tests feature is required to avoid errors from the Rust Analyzer,
# but it is not actually used in the code.
yewdux = { version = "0.11.0" }
gloo-net = "0.5.0"
gloo-console = "0.3.0"
wasm-logger = "0.2.0"
log = "0.4.25"
futures.workspace = true
rustrict = "0.7.33"
js-sys = "0.3.77"
leaflet = "0.4.1"
sublime_fuzzy = "0.7.0"
implicit-clone = "0.4.9"
image = "0.24.9"
base64 = "0.22.1"
rxing = { version = "0.5.20", features = [
  "wasm_support",
], default-features = false }
yew-hooks = "0.3.3"
postcard = "1.1.1"
serde-wasm-bindgen = "0.6.5"
yew-agent = "0.3.0"
rustfft.workspace = true
strsim = "0.11.1"

[dependencies.web-sys]
version = "0.3.77"
features = [
  'Headers',
  'Request',
  'RequestInit',
  'RequestMode',
  'Response',
  'Window',
  'Document',
  'HtmlDocument',
  'HtmlInputElement',
  'HtmlFormElement',
  'Navigator',
  'FormData',
  'File',
  'HtmlDivElement',
  'MediaDeviceKind',
  'MediaRecorder',
  'DataTransfer',
  'Blob',
  'Url',
  'FileReader',
  'EventTarget',
  'Geolocation',
  'Coordinates',
  'Position',
  'PositionOptions',
  'ImageCapture',
  'MediaCapabilities',
  'PositionError',
  'HtmlAnchorElement',
  "CanvasRenderingContext2d",
  "MediaDevices",
  "MediaDeviceInfo",
  "MediaStream",
  "HtmlCanvasElement",
  "HtmlVideoElement",
  "MediaStreamConstraints",
  "MediaTrackConstraints",
  "VideoFacingModeEnum",
  "MediaStreamTrack",
  "Navigator",
  "ImageData",
]
