[package]
name = "smiles_parser"
version = "0.1.0"
authors.workspace = true
license.workspace = true
repository.workspace = true
edition.workspace = true

[dependencies]
elements_rs.workspace = true
num-traits.workspace = true

[lints]
workspace = true
