.app {
    padding-top: $navigator-height;
    padding-left: $sidebar-width;
    padding-right: 0;
    min-width: 100%;
    min-height: 100vh;
    height: auto !important;
    box-sizing: border-box;
    position: relative;
    transition: padding-left 0.5s;

    .page-container {
        position: relative;
        min-height: calc(100dvh - $navigator-height - 2rem);
        box-sizing: border-box;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

// Media query for smaller screens
@media screen and (max-width: $small-screen-width) {
    .app {
        padding-left: 0;
    }
}