.app {
    padding-top: $navigator-height;
    padding-left: $sidebar-width;
    padding-bottom: 2.25em;
    min-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    position: relative;
}

// Media query for smaller screens
@media screen and (max-width: $small-screen-width) {
    .app {
        padding-left: 0; // Remove padding on small screens
    }
}