.datalist-badge {
    div {
        margin-bottom: 0.5em;
    }
    p {
        color: $grey;
        strong {
            color: $black;
        }
    }
    span {
        color: $near_black;
        strong {
            color: $black;
        }
    }
    i {
        margin-right: 0.5em;
        &.blue {
            color: $blue;
        }

        &.orange {
            color: $orange;
        }

        &.red {
            color: $red;
        }

        &.teal {
            color: $teal;
        }

        &.green {
            color: $green;
        }

        &.yellow {
            color: $yellow;
        }

        &.purple {
            color: $purple;
        }

        &.pink {
            color: $pink;
        }

        &.brown {
            color: $brown;
        }

        &.grey {
            color: $grey;
        }

        &.black {
            color: $black;
        }

        &.near-black {
            color: $near_black;
        }

        &.grey {
            color: $grey;
        }

        &.primary {
            color: $primary;
        }
    }
}