//! SCSS code for the badges that is not covered by the default
//! styles in the forms/standard.scss file.


// Breakpoints
$breakpoints: (
    "small": 480px,
    "medium": 768px,
    "large": 1024px,
    "extra-large": 1280px
);

// Mixin for media queries
@mixin respond-to($breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

.badges-container {
    display: grid;
    grid-gap: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
    align-items: stretch;
    grid-template-columns: repeat(1, 1fr); // Default for small devices

    @include respond-to("medium") {
        grid-template-columns: repeat(2, 1fr); // 3 columns for medium devices
    }

    @include respond-to("large") {
        grid-template-columns: repeat(3, 1fr); // 4 columns for large devices
    }

    @include respond-to("extra-large") {
        grid-template-columns: repeat(4, 1fr); // 6 columns for extra-large devices
    }
}

.badge {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    border-radius: 0.25rem;
    border: 1px solid;
    border-color: $light_grey;
    box-sizing: border-box;
    padding: 0.25rem;
    height: 100%;
    width: 100%;
    transition: border-color 0.3s;
    animation: pop-in 0.3s;

    &.small {
        border-radius: 0.5rem;
        border: 1px solid;
        width: auto;
        box-sizing: border-box;
        padding: 0.25rem;
        border-color: $light_grey;
    }

    ul.badges-list {
        list-style: none;
        padding: 0;
        padding-top: 0.5em;
        margin-top: auto;
        display: flex;
        flex-wrap: wrap;
    }

    img {
        width: 1.7rem;
        height: 1.7rem;
        margin-right: 0.5rem;
        border-radius: 0.5rem;
        display: inline;
        vertical-align: middle;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    strong {
        font-weight: 400;
    }

    p {
        margin: 0;
        padding: 0;
        font-size: 1rem;
    }

    p.description {
        font-size: 0.9rem;
        margin-top: 0.5rem;
        text-align: justify;
        text-justify: inter-word;
    }

    &.blue {
        &:hover {
            border-color: $blue;
        }
    }

    &.orange {
        &:hover {
            border-color: $orange;
        }
    }

    &.red {
        &:hover {
            border-color: $red;
        }
    }

    &.teal {
        &:hover {
            border-color: $teal;
        }
    }

    &.green {
        &:hover {
            border-color: $green;
        }
    }

    &.yellow {
        &:hover {
            border-color: $yellow;
        }
    }

    &.purple {
        &:hover {
            border-color: $purple;
        }
    }

    &.pink {
        &:hover {
            border-color: $pink;
        }
    }

    &.brown {
        &:hover {
            border-color: $brown;
        }
    }

    &.grey {
        &:hover {
            border-color: $grey;
        }
    }

    &.black {
        &:hover {
            border-color: $black;
        }
    }

    &.near-black {
        &:hover {
            border-color: $near_black;
        }
    }

    &.grey {
        &:hover {
            border-color: $grey;
        }
    }

    &.primary {
        &:hover {
            border-color: $primary;
        }
    }
}