.footer {
    color: $primary;
    box-sizing: border-box;
    border-top: 1px solid $primary;
    padding: 20px 0; // Adjust as needed
    padding-left: $sidebar-width; // Add padding to the left to account for the sidebar
    text-align: center; // Center align text
    font-size: 14px; // Adjust font size as needed

    .container {
        max-width: 1200px; // Adjust max-width as needed
        margin: 0 auto; // Center the container horizontally
        display: flex; // Use flexbox for layout
        justify-content: space-between; // Space elements evenly
        align-items: center; // Center items vertically

        @media screen and (max-width: 768px) {
            flex-direction: column; // Stack elements vertically on small screens
        }
    }

    .footer-links {
        ul {
            list-style: none; // Remove default list styles
            padding: 0; // Remove default padding
            margin: 0; // Remove default margin

            li {
                display: inline-block; // Display list items inline
                margin-right: 20px; // Add spacing between list items

                a {
                    color: inherit; // Link text color
                    text-decoration: none; // Remove underline from links

                    &:hover {
                        text-decoration: underline; // Add underline on hover
                    }
                }
            }
        }

        @media screen and (max-width: 768px) {
            margin-bottom: 20px; // Add spacing between sections on small screens
        }
    }

    .footer-info {
        p {
            margin: 0; // Reset margin
        }
    }
}

// Media query for smaller screens
@media screen and (max-width: 768px) {
    .footer {
        padding-left: 0; // Remove padding on small screens
    }
}