@import "navigator/hamburger";

nav {
  border-bottom: 1px solid $primary;
  box-sizing: border-box;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: $navigator-height;
  padding: 1em 1em;
  h1 {
    display: inline-block;
    color: $primary;
    font-size: 1.5em;
    a {
      color: inherit;
    }
  }
  .hamburger {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
  }
  a {
    text-decoration: none;
  }
  a.login {
    color: $primary;
    font-size: 1.25rem;
    border: 1px solid $primary;
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
    transition:
      background-color 0.2s,
      color 0.2s;
    &:hover {
      background-color: $primary;
      color: white;
    }
  }
  .search {
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    min-width: 200px;
    max-width: 600px;
    transition: width 0.5s;
    input {
      width: 100%;
    }
    &:focus-within {
      width: 40%;
    }
  }
}

@media (max-width: $small-screen) {
  nav {
    h1 {
      display: inline-block;
      padding-left: 50px;
    }
    .hamburger {
      display: inline-block;
    }
  }
}
