.profile {
    // width: 1024px;
    max-width: 100%;
    padding: 1em;
    box-sizing: border-box;
    h2 {
        color: $primary;
        font-size: 1.5em;
        margin-bottom: 1em;
        font-weight: 600;
    }
}
