.section_explorer {
    width: 600px;
    max-width: 100%;
    margin: 1em auto;
    animation: slide-in-from-bottom 0.3s;

    h2 {
        padding-bottom: 0.5em;
        /* Increase distance between border bottom and badge */
        margin: 0;
        border-bottom: 1px solid $near_black;
        color: $near_black;
        font-weight: 600;
        font-size: 1.2em;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
    }

    ul {
        margin-top: 1em;

        /* Increase distance between each listed user */
        li {
            margin-bottom: 0.5em;

            /* Increase distance between each listed user */
            div.badge {
                display: flex;
                flex-direction: column;

                .sample-info {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0.5em;
                    margin-right: 0.9em;
                    /* Adjust spacing between sample info sections */

                    span {
                        margin-right: 0.5em;
                        /* Adjust spacing between label and link */
                    }

                    a {
                        text-decoration: none;
                        /* Remove underline from links */
                        color: $primary;
                        /* Set link color to $primary */
                    }
                }
            }
        }
    }
}