.section_explorer {
    width: 1200px;
    max-width: 100%;
    margin: 1em auto;
    animation: slide-in-from-bottom 0.3s;

    h2 {
        padding-bottom: 0.5em;
        /* Increase distance between border bottom and badge */
        margin: 0;
        border-bottom: 1px solid $near_black;
        color: $near_black;
        font-weight: 600;
        font-size: 1.2em;
        border-top-left-radius: 0.5em;
        border-top-right-radius: 0.5em;
    }

    ul {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}