// Define variables for easy customization
$sidebar-width: 250px;
$sidebar-hover-color: #f76a00;

.sidebar {
    position: fixed;
    left: 0;
    top: $navigator-height;
    height: 100%;
    width: $sidebar-width;
    color: $primary;
    transition: transform 0.3s ease;
    background-color: white;
    z-index: 100;
    box-sizing: border-box;
    border-right: 1px solid $primary;
    overflow-y: scroll;

    .sidebar-content {
        padding: 20px;

        ul {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: 15px;

                a, button {
                    text-decoration: none;
                    font-size: 1.2rem;
                    font-weight: 300;
                    color: inherit;
                    transition: color 0.3s ease;
                    background-color: transparent;
                    border: none;
                    cursor: pointer;
                    padding: 0;

                    &:hover {
                        color: $sidebar-hover-color;
                    }
                }
            }
        }
    }
}

// Media query for smaller screens
@media screen and (max-width: $small-screen) {
    .sidebar {
        width: 200px; // Adjust width for smaller screens

        &.hidden {
            transform: translateX(-$sidebar-width);
        }

        .sidebar-content {
            padding: 15px;
        }
    }
}