[package]
name = "sorted_vec"
version = "0.1.0"
edition.workspace = true

[dependencies]
common_traits.workspace = true

[lints]
workspace = true

[features]
default = ["std"]
std = ["alloc"]
alloc = []
